@use '../variables/color' as *;

/* Raleway font */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  color: $body-text;
  line-height: 1.4;
}

html {
  // a11y: 100% of user agent font size means
  // rem will be based on user's preference
  // read more: https://matejlatin.medium.com/5-keys-to-accessible-web-typography-2ff9de3157f5
  font-size: 100%;
  letter-spacing: 0.02ch;
  
  background-color: black;
  overflow-x: hidden;
}

body { 
  max-width: 100vw;
}

.intro {
  max-width: 45rem;
  margin: 1rem auto 2rem;
  background: $body-text-bg;
  padding: 0 2rem 2rem;

  h2 {
    color: $body-text;
  }
}

h1, h2 {
  text-align: center;
  color: white;
  padding: 1.5rem 2rem 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

h3 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  letter-spacing: 0;
}

a {
  color: $watermelon;
  padding-bottom: 1px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: light($watermelon);
  }
  &:active {
    text-decoration: underline;
    color: dark($watermelon);
  }

  &:visited {
    text-decoration: none;
    color: dark($watermelon);
  }
}

.contact {
  text-align: center;
  padding: 1rem 1rem 2rem;
  background-color: $body-text-bg;

  h2 {
    color: $body-text;
    font-weight: normal;
    padding-bottom: 0;
  }
  
  a {
    font-size: 1.5rem;
    letter-spacing: 0.04ch;
  }
}
