@use '../variables/color' as *;

.cards {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 1rem 3rem 5rem;

  .card {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin: 0 1rem;
    flex: 1 1 18rem;

    text-align: center;

    &.aurora {
      background: $aurora no-repeat fixed;
      background: linear-gradient(to bottom right, $aurora, hue-shift($aurora)) no-repeat fixed;
    }

    &.amber {
      background: $amber no-repeat fixed;
      background: linear-gradient(to bottom right, $amber, hue-shift($amber)) no-repeat fixed;
    }

    &.twilight {
      background: $twilight no-repeat fixed;
      background: linear-gradient(to bottom right, $twilight, hue-shift($twilight)) no-repeat fixed;
    }
  }
}