@use '../variables/color' as *;

.cards {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-around;
  padding: 0 3rem 5rem;

  .card {
    flex: 1 1 16rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin: 1rem;
    text-align: center;

    &.aurora {
      @include theme($aurora);
    }

    &.amber {
      @include theme($amber);
    }

    &.twilight {
      @include theme($twilight);
    }

    a {
      font-weight: bold;
      color: white;
    }
  }
}